Bio
biopandas
biopython
bokeh
fsspec
h5py
holoviews
hvplot
jupyter_bokeh
jupyterlab
mappy
matplotlib
ninetysix
numpy
pandas
panel==1.2.3
pybedtools
pycoQC
pyfaidx
pyparsing
pysam
scipy
sciutil
seaborn
scikit-learn
statsmodels
tqdm
logomaker
